{% extends "./common.html" %} {% block content %}{% load static %}
<style> 


.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%
}

.snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease
}

.snip1527 img {
     width: 20rem;
    height: 20rem;
    vertical-align: top;
    position: relative
}

.snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1
}

.snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    content: '';
    background: -moz-linear-gradient(90deg, #000000 0%, #000000 100%, #000000 100%);
    background: -webkit-linear-gradient(90deg, #000000 0%, #000000 100%, #000000 100%);
    background: linear-gradient(90deg, #000000 0%, #000000 100%, #000000 100%);
    opacity: 0.8;
    z-index: -1
}


.snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px
}


.snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1
}

.snip1527:hover img,
.snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

img {
    border-radius: 5px
}

.caro{
       width: 15rem;
    height: 15rem;
}

</style>
<link rel="icon" href="data:,">

<script>

</script>
<div id="carouselExampleCaptions" class="carousel slide bg-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner border border-light">
    <div class="carousel-item active">
      <img src="{% static 'store/images/bg.png' %}" class="d-block w-100" alt="...">
     <div class="carousel-caption d-none d-md-block">
        <h5>All New Office Bag collection !!</h5>
                    <a href="http://localhost:8000/product/logo%20plaque%20briefcase"><img class="caro"  src="{% static 'store/images/carousel_1.png' %}"> </a>
        <p> Logo Plaque Briefcase from Prada provides the best for carrying all the office and takes care of the style </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'store/images/bg.png' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>The New Cool Hat Is In Town, CHECK IT OUT!!</h5>
            <a href="http://localhost:8000/product/logo-patch%20bucket%20hat"><img class="caro"  src="{% static 'store/images/carousel_2.png' %}"> </a>
                    <p>The Fendi logo in the front</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'store/images/bg.png' %}" class="d-block w-100" alt="...">
     <div class="carousel-caption d-none d-md-block">
        <h5>Traditional Designs Merged With New Age Fashion</h5>
                  <a href="http://localhost:8000/product/logo-patch%20bucket%20hat"><img class="caro"  src="{% static 'store/images/carousel_3.png' %}"> </a>
        <p>Flora pattern Skirt by Gucci</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid">

  <div class="p-5 text-center border border-dark bg-secondary" style="margin-top: 8px; background: linear-gradient(to bottom, #0099cc, #ccffff);">
    <h1 class="mb-3" style="font-family: 'Dancing Script', cursive; color: #333300;">Hello Spring 2021!</h1> 
    <h4 class="mb-3 fst-italic" style="font-family: 'Dancing Script', cursive;">Enjoy Huge Spring Fashion Sale</h4>
    <a class="btn btn-dark p-2" href="/items" role="button">Shop Now</a>
  </div>

<!--brands-->
  <div class="border border-dark p-1 m-1" style="background: linear-gradient(to bottom, #669999, #B6FCFC);">
  <div class="text-center  text-light bg-dark p-1 border border-light" style="font-family: 'Dancing Script', cursive; color: #333300;"><h2> Shop by Brands...</h2></div>
  <div class="row g-2">
<div class="col-md-3">
 <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_offwhite.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Off-White</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Off-White&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_balenciaga.png' %}"  alt=""/></div>
        <figcaption>
            <h3>
                Balenciaga</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Balenciaga&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>
    
        <div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_fendi.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Fendi</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Fendi&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_gucci.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Gucci</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Gucci&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>

    <div class="col-md-4">
  <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_prada.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Prada</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Prada&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>

    <div class="col-md-4">
 <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_versace.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Versace</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Versace&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-4">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/brand_bv.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Bottega Veneta</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=Bottega+Veneta&category=&gender=&colour="></a>
    </figure>
    
</div>
    </div>
  </div>
</div>

<!--categories-->
  <div class="border border-dark p-1 m-1" style="background: linear-gradient(to bottom, #0099cc, #ccffff);">
  <div class="text-center text-light bg-dark p-1 border border-light " style="font-family: 'Dancing Script', cursive; color: #333300;"><h2> Shop by Categories...</h2></div>
  <div class="row g-2">
<div class="col-md-3">
 <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_acc.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Accessories</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Accessories&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_bags.png' %}"  alt=""/></div>
        <figcaption>
            <h3>
                Bags</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Bags&gender=&colour="></a>
    </figure>
    
</div>
    </div>
    
        <div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_bottom.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Bottomwear</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Bottomwear&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-3">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_foot.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Footwear</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Footwear&gender=&colour="></a>
    </figure>
    
</div>
    </div>

    <div class="col-md-4">
  <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_jacket.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Jackets</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Jackets&gender=&colour="></a>
    </figure>
    
</div>
    </div>

    <div class="col-md-4">
 <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_jewel.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Jewellery</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Jewellery&gender=&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-4">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/cat_top.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                 Topwear</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=Topwear&gender=&colour="></a>
    </figure>
    
</div>
    </div>
    
    </div>
  </div>
<!--gender-->
  <div class="border border-dark p-1 m-1" style="background: linear-gradient(to bottom, #0099cc, #ccffff);">
  <div class="text-center text-light bg-dark border border-light p-1 " style="font-family: 'Dancing Script', cursive; color: #333300;"><h2> Shop by Gender...</h2></div>
  <div class="row g-2 p-1">
<div class="col-md-4">
 <div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/gen_woman.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Woman</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=&gender=Woman&colour="></a>
    </figure>
    
</div>
    </div>

<div class="col-md-4">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/gen_man.png' %}"  alt=""/></div>
        <figcaption>
            <h3>
                Man</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=&gender=Man&colour="></a>
    </figure>
    
</div>
    </div>
    
        <div class="col-md-4">
<div class="d-flex justify-content-center container mt-5">
    <figure class="snip1527">
        <div class="image"><img src="{% static 'store/images/gen_both.png' %}" alt="" /></div>
        <figcaption>
            <h3>
                Both</h3>

        </figcaption> <a href="http://localhost:8000/items/?brand=&category=&gender=Both&colour="></a>
    </figure>
    
</div>
    </div>
</div>
    </div>
</div>
{% endblock %}
